@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@100;200;300;400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  color: white;
  background-color: #09101B;
}
