

.jumbotron {
  background-color: $secondarycolor;
  padding-top: 54px;
  padding-bottom: 54px;
  margin-bottom: 0px;
}

.jumbo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;

  img {
    height: 220px;
    width: 220px;
    border-radius: 0px;
  }

  div {
    margin-left: 15px;
  }

  .ribbon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    // color: white;
    background-color: $primarycolor;
    margin: 0;
    // border-radius: 8px;

    img {
        border: 0;
        border-style: solid;
        border-color: black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .jumbotext {
      padding-left: 20px;
      padding-right: 10px;
      border-left: 1px groove white;
    }

  }
}
