$primarycolor: #1a2228;
$secondarycolor: white;
$ternarycolor: #bc6ff1;

.navbar {
  background-color: $primarycolor;
}

.navbar-brand {
  img {
    filter: invert(100%);
  }
}

.nav-right-items {
    display: flex; 
    .btn {
        margin: 5px;
        background-color: $secondarycolor;

    }
}