.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0A192F;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.container {
  margin: 0;
}

.navbar-brand {
  color: white;
}

.navbar-brand img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.nav-right-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.nav-right-items .btn {
  background-color: white;
}

.jumbotron {
  background-color: #09101B;
  padding-top: 54px;
  padding-bottom: 54px;
  margin-bottom: 0px;
}

.jumbo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

.jumbo-container img {
  height: 220px;
  width: 220px;
  border-radius: 0px;
}

.jumbo-container div {
  margin-left: 15px;
}

.jumbo-container .ribbon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background-color: #0A192F;
  margin: 0;
}

.jumbo-container .ribbon img {
  border: 0;
  border-style: solid;
  border-color: black;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skills-container {
  padding-left: 10%;
  padding-right: 10%;
  height: 40%;
}

.skills-container .skills-heading {
  background-color: #0A192F;
  padding: 5px;
  margin-left: 40%;
  margin-right: 40%;
  display: block;
  text-align: center;
}

.skills-container .skills-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 550px;
  padding: 30px 0px 0px 0px;
}

.skills-container .skills-cards-container .card-container-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 40%;
  padding: 10px;
  position: relative;
}

.skills-container .skills-cards-container .card-container-top-left .main-card {
  height: 100%;
  width: 70%;
  background-color: #0A192F;
  position: absolute;
  padding: 4px;
  padding-right: 15%;
  top: 0px;
  left: 0px;
}

.skills-container .skills-cards-container .card-container-top-left .sub-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100px;
  position: absolute;
  background-color: #0A192F;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  bottom: 54px;
  right: 15%;
}

.skills-container .skills-cards-container .card-container-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 40%;
  padding: 10px;
  position: relative;
}

.skills-container .skills-cards-container .card-container-top-right .main-card {
  height: 100%;
  width: 70%;
  background-color: #0A192F;
  position: absolute;
  padding: 4px;
  text-align: right;
  top: 0px;
  right: 0px;
  padding-left: 15%;
}

.skills-container .skills-cards-container .card-container-top-right .sub-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100px;
  position: absolute;
  background-color: #0A192F;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  bottom: 54px;
  left: 15%;
}

.skills-container .skills-cards-container .card-container-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 40%;
  padding: 10px;
  position: relative;
}

.skills-container .skills-cards-container .card-container-bottom-left .main-card {
  height: 100%;
  width: 70%;
  background-color: #0A192F;
  position: absolute;
  padding: 4px;
  padding-right: 15%;
  bottom: 0px;
  left: 0px;
}

.skills-container .skills-cards-container .card-container-bottom-left .sub-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100px;
  position: absolute;
  background-color: #0A192F;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 54px;
  right: 15%;
}

.skills-container .skills-cards-container .card-container-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 40%;
  padding: 10px;
  position: relative;
}

.skills-container .skills-cards-container .card-container-bottom-right .main-card {
  height: 100%;
  width: 70%;
  background-color: #0A192F;
  position: absolute;
  padding: 4px;
  padding-left: 15%;
  text-align: right;
  bottom: 0px;
  right: 0px;
}

.skills-container .skills-cards-container .card-container-bottom-right .sub-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100px;
  position: absolute;
  background-color: #0A192F;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 54px;
  left: 15%;
}
/*# sourceMappingURL=styles.css.map */