.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0A192F;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.container {
  margin: 0;
}

.navbar-brand {
  color: white;
}

.navbar-brand .nav-name {
  font-size: 80x;
  margin-bottom: 0;
}

.navbar-brand img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.nav-right-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-right-items .nav-icon {
  width: 40px;
  height: 40px;
}

.nav-right-items .btn {
  background-color: #0A192F;
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: 0 88%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
}

.underline--magical:hover {
  color: black;
  background-size: 100% 88%;
}

.jumbotron {
  background-color: #09101B;
  padding-top: 54px;
  padding-bottom: 54px;
  margin-bottom: 0px;
}

.jumbo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

.jumbo-container img {
  height: 220px;
  width: 220px;
  border-radius: 0px;
}

.jumbo-container div {
  margin-left: 15px;
}

.jumbo-container .ribbon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background-color: #0A192F;
  margin: 0;
  border-bottom: 1px solid gray;
}

.jumbo-container .ribbon img {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbo-container .ribbon .jumbotext {
  padding-left: 20px;
  padding-right: 10px;
}

.skills-container {
  padding-left: 10%;
  padding-right: 10%;
  height: 40%;
}

.skills-container .skills-heading {
  background-color: #0A192F;
  padding: 7px;
  margin-left: 40%;
  margin-right: 40%;
  display: block;
  text-align: center;
  border-bottom: 1px solid gray;
}

.skills-container .skills-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 550px;
  padding: 30px 0px 0px 0px;
}

.skills-container .skills-cards-container .card-container-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 40%;
  padding: 10px;
  position: relative;
}

.skills-container .skills-cards-container .card-container-top-left .main-card {
  height: 100%;
  width: 70%;
  background-color: #0A192F;
  position: absolute;
  padding: 4px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  padding-right: 15%;
  top: 0px;
  left: 0px;
  padding-left: 10px;
}

.skills-container .skills-cards-container .card-container-top-left .main-card .skill-title {
  padding-top: 2px;
  padding-bottom: 4px;
}

.skills-container .skills-cards-container .card-container-top-left .sub-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 30%;
  height: 50%;
  position: absolute;
  background-color: #0A192F;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  bottom: 54px;
  right: 15%;
}

.skills-container .skills-cards-container .card-container-top-left .sub-card .sklearn-icon {
  height: 48px;
  width: 89px;
}

.skills-container .skills-cards-container .card-container-top-left .sub-card .octave-icon {
  height: 48px;
  width: 48px;
}

.skills-container .skills-cards-container .card-container-top-left .sub-card .react-logo {
  height: 48px;
  width: 48px;
}

.skills-container .skills-cards-container .card-container-top-left .sub-card .figma-logo {
  height: 48px;
  width: 48px;
}

.skills-container .skills-cards-container .card-container-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 40%;
  padding: 10px;
  position: relative;
}

.skills-container .skills-cards-container .card-container-top-right .main-card {
  height: 100%;
  width: 70%;
  background-color: #0A192F;
  position: absolute;
  padding: 4px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  text-align: right;
  top: 0px;
  right: 0px;
  padding-left: 15%;
  padding-right: 10px;
}

.skills-container .skills-cards-container .card-container-top-right .main-card .skill-title {
  padding-top: 2px;
  padding-bottom: 4px;
}

.skills-container .skills-cards-container .card-container-top-right .sub-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 30%;
  height: 50%;
  position: absolute;
  background-color: #0A192F;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  bottom: 54px;
  left: 15%;
}

.skills-container .skills-cards-container .card-container-top-right .sub-card .sklearn-icon {
  height: 48px;
  width: 89px;
}

.skills-container .skills-cards-container .card-container-top-right .sub-card .octave-icon {
  height: 48px;
  width: 48px;
}

.skills-container .skills-cards-container .card-container-top-right .sub-card .react-logo {
  height: 48px;
  width: 48px;
}

.skills-container .skills-cards-container .card-container-top-right .sub-card .figma-logo {
  height: 48px;
  width: 48px;
}

.skills-container .skills-cards-container .card-container-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 40%;
  padding: 10px;
  position: relative;
}

.skills-container .skills-cards-container .card-container-bottom-left .main-card {
  height: 100%;
  width: 70%;
  background-color: #0A192F;
  position: absolute;
  padding: 4px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  padding-right: 15%;
  bottom: 0px;
  left: 0px;
  padding-left: 10px;
}

.skills-container .skills-cards-container .card-container-bottom-left .main-card .skill-title {
  padding-top: 2px;
  padding-bottom: 4px;
}

.skills-container .skills-cards-container .card-container-bottom-left .sub-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 30%;
  height: 50%;
  position: absolute;
  background-color: #0A192F;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 54px;
  right: 15%;
}

.skills-container .skills-cards-container .card-container-bottom-left .sub-card .sklearn-icon {
  height: 48px;
  width: 89px;
}

.skills-container .skills-cards-container .card-container-bottom-left .sub-card .octave-icon {
  height: 48px;
  width: 48px;
}

.skills-container .skills-cards-container .card-container-bottom-left .sub-card .react-logo {
  height: 48px;
  width: 48px;
}

.skills-container .skills-cards-container .card-container-bottom-left .sub-card .figma-logo {
  height: 48px;
  width: 48px;
}

.skills-container .skills-cards-container .card-container-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 40%;
  padding: 10px;
  position: relative;
}

.skills-container .skills-cards-container .card-container-bottom-right .main-card {
  height: 100%;
  width: 70%;
  background-color: #0A192F;
  position: absolute;
  padding: 4px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  padding-left: 15%;
  text-align: right;
  bottom: 0px;
  right: 0px;
  padding-right: 10px;
}

.skills-container .skills-cards-container .card-container-bottom-right .main-card .skill-title {
  padding-top: 2px;
  padding-bottom: 4px;
}

.skills-container .skills-cards-container .card-container-bottom-right .sub-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 30%;
  height: 50%;
  position: absolute;
  background-color: #0A192F;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 54px;
  left: 15%;
}

.skills-container .skills-cards-container .card-container-bottom-right .sub-card .sklearn-icon {
  height: 48px;
  width: 89px;
}

.skills-container .skills-cards-container .card-container-bottom-right .sub-card .octave-icon {
  height: 48px;
  width: 48px;
}

.skills-container .skills-cards-container .card-container-bottom-right .sub-card .react-logo {
  height: 48px;
  width: 48px;
}

.skills-container .skills-cards-container .card-container-bottom-right .sub-card .figma-logo {
  height: 48px;
  width: 48px;
}

.projects-container {
  padding-left: 10%;
  padding-right: 10%;
  height: 40%;
}

.projects-container .projects-heading {
  background-color: #0A192F;
  padding: 7px;
  margin-left: 40%;
  margin-right: 40%;
  display: block;
  text-align: center;
  border-bottom: 1px solid gray;
}

.projects-container .project-tiles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 550px;
  padding: 60px 0px 0px 0px;
}

.projects-container .project-tiles-container .project-tile {
  height: 100%;
  width: 33.33%;
}

.projects-container .project-tiles-container .project-tile .project-image {
  height: 35%;
}

.projects-container .project-tiles-container .project-tile .middle-line {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-container .project-tiles-container .project-tile .middle-line .line {
  height: 100%;
  width: 2px;
  background-color: gray;
}

.projects-container .project-tiles-container .project-tile .bottom-line {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-container .project-tiles-container .project-tile .bottom-line .line {
  height: 100%;
  width: 2px;
  background-color: gray;
}

.projects-container .project-tiles-container .project-tile .p1:hover .img-1 {
  opacity: 0.3;
}

.projects-container .project-tiles-container .project-tile .p1:hover .middle-link-1 {
  opacity: 1;
}

.projects-container .project-tiles-container .project-tile .p2:hover .img-2 {
  opacity: 0.3;
}

.projects-container .project-tiles-container .project-tile .p2:hover .middle-link-2 {
  opacity: 1;
}

.projects-container .project-tiles-container .project-tile .p3:hover .img-3 {
  opacity: 0.3;
}

.projects-container .project-tiles-container .project-tile .p3:hover .middle-link-3 {
  opacity: 1;
}

.projects-container .project-tiles-container .project-tile .project-image {
  padding-left: 20%;
  padding-right: 20%;
  position: relative;
}

.projects-container .project-tiles-container .project-tile .project-image .image {
  width: auto;
  height: 100%;
  opacity: 1;
  display: block;
  margin: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-bottom: 1px solid gray;
}

.projects-container .project-tiles-container .project-tile .project-image .middle-links {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projects-container .project-tiles-container .project-tile .project-description {
  background-color: #0A192F;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  border-bottom: 1px solid gray;
}

.education-container {
  padding-left: 10%;
  padding-right: 10%;
  height: 40%;
  margin-top: 40px;
}

.college {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #0A192F;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 1px solid gray;
}

.college img {
  height: 150px;
  width: 150px;
  border-radius: 0px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.college div {
  margin-left: 15px;
}

.college .college-logo {
  height: 150px;
  width: 150px;
}

.certifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 450px;
  padding: 30px 0px 0px 0px;
}

.certifications .certification-heading {
  background-color: #0A192F;
  padding: 7px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  border-bottom: 1px solid gray;
}

.certifications .certification-cards {
  height: 75%;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
  height: 45%;
  background-color: #0A192F;
  border-bottom: 1px solid gray;
}

.card-container .card-image:hover .card-img {
  opacity: 0.3;
}

.card-container .card-image:hover .middle {
  opacity: 1;
}

.card-container .card-image {
  width: 30%;
  position: relative;
}

.card-container .card-image img {
  height: 100%;
  width: 100%;
  opacity: 1;
  display: block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-container .card-image .middle {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card-container .card-image .middle img {
  height: 48px;
  width: 48px;
}

.card-container .certificate-info {
  margin: 5px 5px 5px 10px;
  padding-left: 10px;
  width: 70%;
  overflow: hidden;
}
/*# sourceMappingURL=styles.css.map */